$container-xl: 126rem;

$section-spacing: 12rem;
$page-gutter: 4rem;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  overflow: hidden;
  width: 100%;
  height: 100%;

  opacity: 1;
  display: none;
  pointer-events: none;
}

.display {
  display: block;
  pointer-events: all;
}

.bg__blue {
  background: $primary-blue;

  position: relative;

  width: 100%;
  overflow-x: hidden;

  .left__main {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: auto;
    width: auto;
    max-width: none;
    margin-left: -1030px;
    z-index: 10;

    pointer-events: none;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
      max-width: 880px;
      position: relative;
      z-index: 10;
      margin-left: -60%;
    }
  }

  .right__main {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 37rem;
    z-index: 10;

    @media screen and (max-width: 1024px) {
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .clouds {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    margin-left: -128rem;
    z-index: 1;
    pointer-events: none;

    @media screen and (max-width: 1024px) {
      z-index: 1;
      position: absolute;
      top: auto;
      bottom: 0;
      margin-left: -1320px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.bg__grey {
  background-color: $primary-grey;
}

.container {
  width: 100%;
  max-width: $container-xl;
  margin: 0 auto;
  padding: $section-spacing $page-gutter;

  @media screen and (max-width: 1024px) {
    padding: 8rem $page-gutter;
  }

  @media screen and (max-width: 768px) {
    padding: 5.6rem 2.4rem;
  }
}

.info__grid {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  align-items: center;
  max-width: 38rem;

  h2 {
    font-size: 4.8rem;
    font-weight: 900;
    color: $black-light;
    line-height: 120%;
    letter-spacing: 0.16rem;
  }

  p {
    margin-top: 2.4rem;
    max-width: 35.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.2rem;
    color: $black-light;
  }

  @media screen and (max-width: 1024px) {
    & {
      width: 100%;
      max-width: 100%;

      margin-top: 2.4rem;
    }

    h2,
    p {
      font-size: clamp(2.4rem, 4vw, 4rem);
    }

    p {
      font-size: clamp(1.8rem, 2vw, 2rem);
      min-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-rows: 1fr;
  }
}

.hero__content {
  margin-bottom: 2.9rem;

  @media screen and (max-width: 1024px) {
    margin-bottom: 16rem;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }

  .cta__container {
    max-width: 78rem;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    gap: 3.2rem;

    @media screen and (max-width: 1024px) {
      max-width: 54rem;
      margin: 0;
      gap: 0.8rem;
    }

    @media screen and (max-width: 768px) {
      min-width: 100%;
      display: flex;
      flex-direction: column;
    }

    .cta__box {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media screen and (max-width: 1024px) {
        gap: 2.4rem;
      }
    }

    .cta__title {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 6.4rem;
      font-weight: 900;
      font-display: sans-serif;
      letter-spacing: 0.16rem;
      color: $white;
      line-height: 80%;

      text-transform: uppercase;
      text-rendering: geometricPrecision;
      z-index: 20;

      width: 100%;

      @media screen and (max-width: 1024px) {
        text-align: start;
      }

      @media screen and (max-width: 768px) {
        font-size: clamp(4rem, 4vw, 5.6rem);
        line-height: 95%;
        width: 100%;
      }
    }

    .cta__text {
      position: relative;
      font-size: 1.9rem;
      font-weight: 300;
      line-height: 3.2rem;
      color: $white;

      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;

      @media screen and (max-width: 1024px) {
        font-size: clamp(1.8rem, 2vw, 2rem);
        text-align: start;
      }

      @media screen and (max-width: 768px) {
        min-width: 100%;
        font-size: clamp(16px, 2vw, 20px);
        line-height: 1.625;
      }
    }

    .cta__buttons {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 2.4rem;

      z-index: 20;

      .download__icon {
        margin-right: 0.8rem;
      }

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;

        gap: 0;

        button:first-child {
          margin: 2.4rem 2.4rem 0 0;
        }

        button:last-child {
          margin: 2.4rem 0 0 0;
        }
      }

      @media screen and (max-width: 768px) {
        margin: 0 0 4rem 0;

        button:first-child {
          margin: 2.4rem 0 0 0;
        }
      }

      @media screen and (max-width: 360px) {
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.section__one {
  display: grid;
  grid-template-columns: 1fr 38rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  img {
    max-width: 678px;
    width: 100%;
    max-height: 440px;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 34rem;
  }
}

.section__two {
  display: grid;
  grid-template-columns: 38rem 1fr;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  img {
    max-width: 678px;
    width: 100%;
    max-height: 440px;
    object-fit: cover;
    margin-left: auto;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 34rem 1fr;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'grid__1' 'grid__2';

    .grid__1 {
      grid-area: grid__1;
    }

    .grid__2 {
      grid-area: grid__2;
    }
  }
}

.section__three {
  display: grid;
  grid-template-columns: 1fr 38rem;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  img {
    max-width: 678px;
    width: 100%;
    max-height: 440px;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 34rem;
  }
}

.section__four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 8rem;
  width: 100%;

  h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 4.8rem;
    line-height: 120%;
    letter-spacing: 0.32rem;
    text-transform: uppercase;
    text-align: center;
  }

  h4 {
    color: $black-normal;
  }

  p {
    margin: 2.4rem auto 0 auto;
    max-width: 84rem;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 3.2rem;
    color: $black-light;
    text-align: center;
  }

  img {
    margin-top: 1.6rem;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    h2 {
      font-size: clamp(20px, 4vw, 40px);
    }

    p {
      font-size: clamp(1.8rem, 2vw, 2rem);
      min-width: 100%;
      margin: 2.4rem 0 0 0;
    }
  }
}

.section__five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  max-width: $container-xl;
  width: 100%;
  padding: 0 $page-gutter 12rem;

  margin: 0 auto;

  h4 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;

    margin-top: 3rem;
    letter-spacing: 0.08rem;
  }

  button {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    line-height: 2.4rem;
    color: $white;

    margin-top: 2.4rem;

    .download__icon {
      margin-right: 0.8rem;
    }
  }

  .sparkles {
    position: relative;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: -1rem;
      bottom: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0 4rem 8rem 4rem;

    h4 {
      font-size: clamp(2.4rem, 4vw, 3.2rem);
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0 2.4rem 5.6rem 2.4rem;

    h2,
    p {
      text-align: start;
    }
  }
}

.section__one,
.section__two,
.section__three,
.section__four {
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 5.6rem 2.4rem;
    gap: 0;

    h2,
    p {
      text-align: start;
    }

    img {
      margin: 2.4rem auto 0 auto;
      width: 100%;
    }
  }
}

.bg__footer {
  background: $black-light;
  color: $white;

  .footer__info {
    display: flex;
    gap: 8rem;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: column;

      gap: 0;
    }

    .footer__main {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      width: 100%;
      max-width: 28rem;

      margin: 0 0 5.6rem 0;

      flex: 1 2 22rem;

      @media screen and (max-width: 768px) {
        max-width: 100%;
        margin: 0;
      }

      h4 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        line-height: 80%;
        letter-spacing: 0.16rem;
        color: $rebrand;

        text-transform: uppercase;
        text-rendering: geometricPrecision;
      }

      .language {
        font-size: 1.2rem;
        letter-spacing: 0.16rem;
        font-weight: 400;

        .locale__container {
          display: flex;
          align-items: center;

          cursor: pointer;

          .flag {
            width: 2.4rem;
            height: 1.6rem;
            margin-right: 0.8rem;
          }

          .arrow__icon {
            margin-left: 0.8rem;
          }
        }
      }

      .social__media {
        ul {
          display: flex;

          li {
            & + li {
              margin-left: 2.4rem;
            }
          }
        }
      }
    }

    .boxes__container {
      display: flex;
      gap: 2.4rem;
      flex-wrap: wrap;

      @media screen and (max-width: 1024px) {
        flex-basis: calc(50% - 8px);
      }
    }

    .footer__box {
      width: 18rem;
      margin-bottom: 4rem;
      flex: 1 1 14rem;

      @media screen and (max-width: 768px) {
        flex: 1 1 26rem;
      }

      @media screen and (max-width: 630px) {
        flex-basis: initial;
      }

      @media screen and (max-width: 440px) {
        width: 12rem;
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 400;

        color: $rebrand;

        padding-top: 0.8rem;
      }

      li {
        margin-top: 0.8rem;
        line-height: 1.65;

        a {
          font-size: 1.5rem;
          font-weight: 400;
          color: inherit;

          &:hover {
            border-bottom: 1px solid $white;
          }
        }
      }
    }
  }

  .separator {
    border: none;
    height: 1px;
    color: $rebrand;
    background-color: $rebrand;
  }

  .footer__cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;

    padding-top: 3.2rem;

    button {
      transition: all 250ms ease;
    }

    button:hover {
      color: inherit;
      background: #8ea1e1;
      box-shadow: 0px 15px 34px rgba(13, 12, 14, 0.27);
    }
  }
}
